/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poetsen+One&display=swap');

:root {

    --primary-font: "Overlock", sans-serif;
    --secondary-font: "Akaya Kanadaka", sans-serif;
    --primary-color: #26190D; /* dark brown */
    --secondary-color: #f9e9dc; /* cream */
}

/* global styles */

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: "Poetsen One", sans-serif;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

p {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

/* Navbar styles */
#navbarGlowStudio {
    background-color: var(--secondary-color);
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
}

.navbar-nav .nav-link {
    color: var(--primary-color) !important;
    font-family: var(--primary-font);
    letter-spacing: 1px;
}

.navbar-nav .nav-link:hover {
    border-bottom: 1px solid #3a3a3a;
}

.navbar-brand {
    font-family: 'Poetsen One', sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
}

.navbar-toggler-icon {
    color: var(--primary-color);
}

/* Hero styles */

.hero {
    background-color: var(--primary-color);
    color: #fcf4ee;
    font-family: var(--secondary-font);
    /* Used stackoverflow solution to help me make the hero transparent https://stackoverflow.com/questions/52865630/add-opacity-to-background-image-css-for-hero-cover */
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url('../images/hero-manicure-870857_1280.jpg');
    background-size: cover; /* Covers the entire area */
    background-position: center center; /* Centers the image */
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    color: #f8f4f0;
    
}

.hero p {
    font-size: 2rem;
    color: #f8f4f0;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Our Services section */

#services h2 {
    font-family: 'Poetsen One', sans-serif; 
    font-size: 2rem; 
    text-align: center;
    color: var(--primary-color);
    padding-top: 10px; 
}

.service-card h3 {
    font-family: var(--secondary-font); 
    font-size: 1.5rem; 
    color: var(--primary-color);
} 

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
    text-align: center; 
    background-color: #ffaa99; 
    border: 8px solid var(--secondary-color); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem; 
}

.service-card .price {
    font-size: 1rem;
    color: var(--primary-color); 
    font-family: 'var(--secondary-font)'; 
    font-weight: bold;
    margin-top: 10px; 
    padding: 10px;
    background-color: var(--secondary-color); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: center;
}

/* Custom styling for See More button */
.see-more-btn {
    padding: 15px 35px;  
    font-size: 1.2rem;  
    background-color: #481e1e; 
    color: #f9e9dc;        
    border: none;            
    transition: background-color 0.3s ease; 
    text-align: center;    
    display: inline-block; 
    cursor: pointer;
}
  
  
.see-more-btn:hover {
    background-color: #ffaa99;  
    color: var(--primary-color); 
}
  

.see-more-btn-container {
    text-align: center;   
    margin-top: 30px;      
}

/* Gallery styles */

.img-fluid {
    max-width: 100%;
    height: auto;
}
  
.carousel-caption p {
    font-size: 1.1em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
  
section {
    margin-bottom: 3rem;
}
  
.text-center {
    text-align: center;
}
  
img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
  

/* Booking styles */
.page-bg {
    background-image: url('../images/hero-manicure-870857_1280.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the booking form container */
.book {
    border: 8px solid var(--primary-color); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);         
    padding: 30px;               
    margin-top: 40px;            
    margin-left: auto;           
    margin-right: auto;          
    margin-bottom: 40px;         
    background-color: var(--secondary-color);   
    max-width: 600px;            
    opacity: 0.9; 
}

.book h2 {
    font-size: 2rem;             
    color: var(--primary-color);  
    font-family: "Poetsen One", sans-serif;            
}

.book form {
    display: flex;
    flex-direction: column;
}

.book .form-label {
    font-weight: bold;
    color: var(--primary-color);
}

.book .btn-primary {
    background-color: #481e1e;   
    border-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
}

.book .btn-primary:hover {
    background-color: #ffaa99;  
    color: var(--primary-color);
    border-color: var(--primary-color);
}


/* Footer Styles */
#footerGlowStudio {
    background-color: var(--primary-color); 
    color: #f9e9dc; 
    position: relative;
    padding: 0.5rem 0;
    width: 100%;
    bottom: 1rem;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1; /* Ensures the main content takes up available space */
    margin-bottom: 2rem;
}

/* Footer-specific styles */
#footerGlowStudio h5 {
    font-family: var(--secondary-font);
    color: #f8f4f0;
    font-size: 2rem;
}

#footerGlowStudio p {
    font-family: var(--primary-font);
    color: #f8f4f0;
    font-size: 1.2rem;
}

#footerGlowStudio .footer-content {
    font-family: var(--primary-font);
    font-size: 1rem;
}

#footerGlowStudio .footer-content p {
    margin-bottom: 1rem;
}

#footerGlowStudio .social-links {
    list-style: none;
    padding: 0;
}

#footerGlowStudio .social-links li {
    margin: 0.5rem 0;
}

#footerGlowStudio .social-links a {
    color: #f9e9dc;
    text-decoration: none;
    font-size: 1.1rem;
}

#footerGlowStudio .social-links a:hover {
    text-decoration: underline;
}

/* Responsive Footer */
@media (max-width: 768px) {

    .hero h1 {
        font-size: 2rem;
    }
    
    .hero p {
        font-size: 1.5rem; 
    }

    #footerGlowStudio .row {
        text-align: center;
    }

     .service-card img {
        object-position: center; 
    }

    .service-card {
        margin-bottom: 1.5rem; 
    }

    .col-md-4 {
        margin-bottom: 1.5rem; 
    }
    .book {
        padding: 20px;
        margin: 40px;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 950px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    .navbar-brand {
        font-size: 2.5rem;
}

.navbar-nav .nav-link {
        font-size: 1.5rem;
}
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #ffaa99;

    }
    #menu {
        font-size: 120%;
    }
   
    .navbar-brand {
            font-size: 2.5rem;
    }
    
    .navbar-nav .nav-link {
            font-size: 1.5rem;
    }
}